<div class="contenedor">

  <h1>Añadir población</h1>
  <form class="mx-auto" #form="ngForm" (ngSubmit)="add()">

      <div class="mb-3">
        <label for="poblacion">POBLACIÓN*</label>
        <input id="poblacion" type="text" name="poblacion" required class="form-control" autocomplete="off" style="text-transform: uppercase" [(ngModel)]="poblacion.nombre">
      </div>

      <div class="mb-3">

        <label for="provincia">PROVINCIA*</label>
        <select name="provincia" id="provincia" class="form-select" required [(ngModel)]="poblacion.provincia.id">
          <option [ngClass]="{'select-inactivo':provincia.activo==0}" *ngFor="let provincia of Provincias" value="{{provincia.id}}" >{{provincia.nombre}}</option>

        </select>

      </div>
  <div class="contenedor-boton">
      <button type="submit" class="btn btn-md btn-primary" [disabled]="form.invalid">+Añadir</button>
    </div>






  </form>



  </div>
