<div class="contenedor">

  <h1>Registro usuario</h1>


      <form  class="mx-auto" #form="ngForm" (ngSubmit)="register()" [formGroup]="registerForm">


          <div class="mb-3">

              <label for="email">EMAIL*</label>
              <input id="email" type="email" name="email" [class.is-invalid]="registerForm.get('elEmail')?.invalid && registerForm.get('elEmail')?.touched" class="form-control" formControlName="elEmail" autocomplete="off">
          </div>


          <div class="mb-3">

              <label for="password">PASSWORD*</label>
              <input id="password" type="password" name="password"  [class.is-invalid]="registerForm.get('elPassword')?.invalid && registerForm.get('elPassword')?.touched" class="form-control" formControlName="elPassword" autocomplete="off">

          </div>


          <div class="mb-3">

              <label for="usuario">USUARIO*</label>
              <input id="usuario" type="text" name="user" [class.is-invalid]="registerForm.get('elUsuario')?.invalid && registerForm.get('elUsuario')?.touched" class="form-control" formControlName="elUsuario" autocomplete="off">

          </div>


          <div class="contenedor-boton">

              <button type="submit"class="btn btn-md btn-primary" [disabled]="form.invalid">Regístrate!!!</button>

          </div>


      </form>


</div>
