<div class="contenedor">

  <h1>Listado de inmuebles</h1>

  <div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
               <!-- <th scope="col">TIPO</th> -->
              <th scope="col">TITULAR</th>
              <th scope="col">DIRECCIÓN</th>
              <th scope="col">PRECIO</th>
              <th scope="col">DESCRIPCION</th>
              <th class="activo" scope="col">ACTIVO</th>
              <th class="portada" scope="col">PORTADA</th>
              <th scope="col">EDITAR</th>
              <th scope="col">IMAGEN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of Datos">
                <th scope="row">{{dato.id}}</th>
                <!-- <td>{{dato.tipo.nombre}}</td> -->
                <td>{{dato.titular}}</td>
                <td>{{dato.direccionCompleta}}</td>
                <td>{{dato.precio}}</td>
                <td>{{dato.descripcion}}</td>
                <td [ngClass]="{
                  'activo-rojo':dato.activo == 0,
                  'activo-verde':dato.activo == 1
                }">●</td>
                <td [ngClass]="{
                  'activo-rojo':dato.portada == 0,
                  'activo-verde':dato.portada == 1
                }">●</td>

                 <td>
              <button type="button" class="btn btn-success" mdbRipple [routerLink]="['/edit-inmueble',dato.id]">Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-info" mdbRipple [routerLink]="['/add-imagen',dato.id]">+Imagen</button>
            </td>




            </tr>


          </tbody>



      </table>









  </div>

