<article class="ficha">

  <app-carousel-ficha/>

  <h3 class="titular">El Titular</h3>
  <h4 class="poblacion">Población</h4>
  <p class="precio">300.000 €</p>

<footer class="footer-ficha">
    <div class="contenedor-iconos">
        <div class="subcontenedor-iconos">
          <span class="numero-elementos">5</span>
          <!-- <img src="" alt="" class="icono"> buscar iconos-->
        </div>
        <div class="subcontenedor-iconos">
          <span class="numero-elementos">3</span>
          <!-- <img src="" alt="" class="icono"> buscar iconos-->
        </div>
        <div class="subcontenedor-iconos">
          <span class="numero-elementos">4</span>
          <!-- <img src="" alt="" class="icono"> buscar iconos-->
        </div>


    </div>



</footer>









</article>
