/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */

.contenedor{

 padding: 15px;
 width:100%;

}
.contenedor-iconos{
  display:flex;
  align-items:center;
  gap: 12%;
  margin-bottom: 10px;
  font.size: 8px;
}
.iconos{
  font-size:18px;
  diplay:flex;
  align-content:center;
}
.numero-elementos{
  font-size:15px;
}
h1{
  font-size:3rem;
  text-align:right;
  margin-bottom:15px;
}
h3{
  font-size: 2rem;
}


/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){





}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){




}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

.contenedor img{
  width:50%;
  
}


}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}
