<div class="contenedor">
  <div class="contenedor-logo">
    <img class="logo" src="assets/img/el-pisito.svg" alt="icono el pisito">
    <span class="texto-logo">El Pisito</span>
  </div>

  <div class="contenedor-iconos">

    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>

  </div>

  <div class="contenedor-aplicaciones">
    <a href="#"><img src="assets/img/googleplay_store.svg" alt="Logo Google Play Store"></a>

    <a href="#"><img src="assets/img/apple-11.svg" alt=""></a>
  </div>


</div>
